.functional-panel__submit-trade {
    margin: 15px auto 0 auto;
    padding: 0;
    border: none;
    outline: none;
    background-color: #43236C;
    width: 170px;
    height: 40px;
    border-radius: 7px;
    font-family: 'WiGuru';
    color: white;
    cursor: pointer;
}

.functional-panel__submit-trade:hover {
    color: #DE4949;
}