.place-get__header {
    font-family: 'WiGuru';
    display: grid;
    grid-template-columns: 1fr 120px 40px;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid #190D25;
    background-color: #43236C;
    height: 40px;
    cursor: pointer;
}