.functional-panel {
    width: 200px;
    min-height: 400px;
    max-height: 400px;
    background-color: #22112F;
    border-radius: 10px;
    color: white;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}