.header__button-container {
    color: white;
    display: grid;
    font-family: 'Russo one';
    margin: 5px 10px 0 30px;
    padding: 0;
    list-style-type: none;
    width: 100%;
    grid-template-columns: 90px 150px;
    border-radius: 10px;
}